<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body >
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">@Html.ActionLink("TechMarket", "List", "Product", new { area = "" }, new { @class = "navbar-brand" })</a>
            @Html.Action("Summary", "Cart")
        </nav>
    </div>
    <div class="container">
        <div class="row panel">
            <div id="categories" class="col-sm-2"><br />
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-sm-10">
                <br />
                @RenderBody()
            </div>
        </div>
        <footer>
            <hr />
            <p>
                &copy; @DateTime.Now.Year - Application Maden by Glinyany Vladislav
                @Html.ActionLink("Admin", "Index", "Admin",null, new { @class = "btn btn-light float-right" })
            </p>

        </footer>
    </div>
</body>

</html>